<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This page can be shown to all authenticated users</p>


<a href="/">Home</a>
<a href="/manager" sec:authorize="hasAnyRole('MANAGER','ADMIN')">Manager</a>
<a href="/admin" sec:authorize="hasRole('ADMIN')">Admin</a>

<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
    <button type="submit">Logout</button>
</form>
</body>
</body>
</html>